#body {
    background-color: antiquewhite;
}

.nameOfApp {
    background-color: black;
}

.logo {
    text-align: center;
}

.newMovies {
    color: red;
    font-size: 70px;
    font-family: 'roundy', sans-serif;
    text-align: center;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 20px;
    background-color: black;
}

.containerNewMovie {
    width: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-left: 500px;
}

.item {
    border-style: solid;
    display: flex;
    border-color: black;
    flex-direction: column;
    background-color: white;

}

.name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    color: red;
}

.description {
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
}

.loginForm {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}