<!DOCTYPE html>
<html lang="en">
<title>Netflix Clone</title>

<head>
    <script src="https://unpkg.com/vue@2"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../HomePage/netflixstyle.css">
</head>

<body id="body">
    <app id="myVueApp">

        <div class="nameOfApp">
            <span>{{userName}}</span>
            <a href="../LoginPage/login.html"><input type="button" value="Sign Out"></a>
            <a href="../WatchlistPage/watchlist.html"><input type="button" value="Watch List"></a>
            <a v-if="watchlist.length">Watchlist Total: {{watchlist.length}}</a>
            <div class=" logo"><img src="../images/Logonetflix.png" width="270px" height="150px">
            </div>
        </div>
        <div class="comingSoon">Coming Soon</div>
        <div class="moviesSoon">
            <movie-tile class="item" v-for="movie in comingSoonMovies" v-bind:name="movie.name"
                v-bind:image="movie.image" v-bind:description="movie.description" v-bind:releaseDate="movie.releaseDate"
                v-bind:comingSoon="movie.comingSoon" v-bind:genre="movie.genre" v-bind:preview="movie.preview"
                v-bind:id="movie.id" v-bind:show-add="true" v-on:add-to-watch-list="onAddToWatchlist(movie)">
            </movie-tile>
        </div>
        <div class="newMovies">New Movies</div>
        <div class="newNewMovies">
            <movie-tile class="item" v-for="movie in movies" v-bind:name="movie.name" v-bind:image="movie.image"
                v-bind:description="movie.description" v-bind:releaseDate="movie.releaseDate"
                v-bind:comingSoon="movie.comingSoon" v-bind:genre="movie.genre" v-bind:preview="movie.preview"
                v-bind:id="movie.id" v-bind:show-add="true" v-on:add-to-watch-list="onAddToWatchlist(movie)">
            </movie-tile>
        </div>
    </app>
</body>
<script src="../Components/movie-tile.js"></script>
<script src="../HomePage/netflix.js"></script>



</html>