<!DOCTYPE html>
<html lang="en">
<title>Netflix Watch List</title>

<head>
    <script src="https://unpkg.com/vue@2"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../WatchlistPage/netflixstyle.css">
</head>

<body id="body">
    <div id="myVueApp">

        <div class="nameOfApp">
            <span>{{userName}}</span>
            <a href="../LoginPage/login.html"><input type="button" value="Sign Out"></a>
            <a href="../HomePage/index.html"><input type="button" value="Home"></a>
            <a v-if="watchlist.length">Watchlist Total: {{watchlist.length}}</a>

            <div class=" logo"><img src="../images/Logonetflix.png" width="270px" height="150px">
            </div>
        </div>
        <form class="searchBar">
            <input type="search" name="search">
            <button class="searchButton" type="submit">
                <span>Search</span>
            </button>
        </form>
        <div class="watchListName">
            Watch List
        </div>
        <div class="watchList">
            <movie-tile class="item" v-for="movie in watchlist" v-bind:name="movie.name" v-bind:image="movie.image"
                v-bind:show-remove="true" v-on:remove-from-watch-list="onRemoveItem(movie)"></movie-tile>
        </div>

    </div>
</body>

<script src="../Components/movie-tile.js"></script>
<script src="../WatchlistPage/watchlist_vue.js"></script>



</html>